{% load static %}
<footer class="bottom-footer">
    <div class="footer__bottom">
        <div class="row">
        <div class="column">
            <img src="{% static 'images/m_logo.png' %}" alt="company logo" class="areha-logo"/>
        </div>
        <div class="column">
            <span class="bottom-title">About Us</span>
            <span>회사명: 주식회사 아레하</span>
            <span>대표이사: 한승수</span>
            <span>사업자등록번호: 371-88-00744</span>
            <span>주소: 경기도 양평군 강하면 미산길 103</span>
        </div>
        <div class="column">
            <span class="bottom-title">Contact us</span>
            <span>이메일: info@areha.io</span>
            <span>카카오플러스친구: 랩디</span>
            <span>전화: 031-774-6272<br>(문의는 카카오톡 플러스친구와<br>이메일로 부탁드립니다.)</span>
        </div>
        <div class="column">
            <span class="bottom-title">Terms of Service</span>
            <span><a href="/refund">환불규정</a></span>
        </div>
        </div>
        <hr>
        <div class="row">
        <span class="copyright">Copyright 2018 &copy; AREHA CO.</span>
        </div>
    </div>
</footer>