{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="ContentFrame">
    <div class="MainSection">
        <div class="ImageSection">
            <h1>image sec</h1>
        </div>
        <div class="ImageSection">
            <h1>image sec</h1>
        </div>
        <div class="ImageSection">
            <h1>image sec</h1>
        </div>  
    </div>
    <div class="MainSection">
        <h1>Our Goal</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate officiis ducimus</p>
    </div>
    <div class="MainSection">
        <h1>Our Goal</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate officiis ducimus</p>
    </div>
    <div class="GridWrapper">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
    </div>
</div>
{% endblock %}

