footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
  background-color: black;
  color: white;
}
.FooterTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.FooterTitle h3 {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.FooterTitle h2 {
  font-size: 40px;
  font-weight: 800;
}
.FooterContent {
  font-size: 12px;
  line-height: 20px;
}